<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <!--[if lte IE 9]><script>alert("您正在使用的浏览器版本过低，为了您的最佳体验，请先升级浏览器。");window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href);</script><![endif]-->
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <title></title>
  <link rel="stylesheet" href="/static/swiper.min.css">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <script type='text/javascript' src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=041e4120-5501-11e8-aeee-f504f23baa26&autoShow=false&language=ZHCN' async='async'></script>
</head>

<body>
<div id="app"></div>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>
