$color = blue;
$blue =  #352665;
$border(a,b)
    if a==border-left
        border-left b solid $blue
    else if a==border-right
        border-right b solid $blue
    else if a==border-bottom
        border-bottom b solid $blue
    else if a==border-top
        border-top b solid $blue
    else
        border b solid $blue




$mt(val)
    margin-top val
$ml(val)
    margin-left val
$mr(val)
    margin-right val
$mb(val)
    margin-bottom val