@import "compass";
@import "variables";

body {
  //background-color: $page-bg-color;
  //font-size: $font-size-default;
  //font-family: $font-family;
  font-weight: $font-weight-default;
}

b, strong,
h1, h2, h3 {
  font-weight: $font-weight-bold;
}

a, [onclick], .clickable {
  -webkit-tap-highlight-color: rgba(#ddd, 0.5);
}

input, textarea {
  font-size: $font-size-small;
}

//.clearfix {
//  @include clearfix();
//}

.icon {
  display: inline-block;
  transform: scale(2);
}
